<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главный сайт{% endblock %}</title>
</head>
<body>
   <!-- <header>
        <h2>Логотип | Навигация по сайту</h2>
    </header> -->

    <!--<main style="padding: 20px;"> -->
        {% block content %}
        Привет! Это базовый текст, если блок пустой.
        {% endblock %}
    <!--</main> -->

   <!-- <footer>Подвал сайта</footer> -->
</body>
</html>
